
#background{
	-fx-background-image: url("background.jpg");
}

#terrain{
	-fx-background-image: url("terrain.jpg");
}

#player{
	-fx-font-weight:bolder;
	-fx-font-family: Verdana;
	-fx-text-fill: white;
}

#acheter{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-width: 40%;
	-fx-height: 20%;
}

.label{
	-fx-text-fill: white;
	-fx-font-family: Verdana;
}

.button{
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-font-family: Verdana;
}

.button:hover{
	-fx-background-color: red;
	-fx-text-fill: white;
	-fx-font-family: Verdana;
}

.progress-bar .stack{
	-fx-background-color: white;
}

.progress-bar .bar{
	-fx-background-color: red;
}